* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and text color */
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Main content styles (No changes) */

/* Dashboard Menu styles */
.dashboard-menu {
    flex: 1;
    background-color: #303f4e; /* Side menu background color */
    padding: 20px;
    border-radius: 5px;
    color: #fff;
}

.dashboard-menu h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
}

.dashboard-menu ul {
    list-style: none;
}

.dashboard-menu li {
    margin-bottom: 10px;
}

.dashboard-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: #424f5d; /* Button background color */
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.dashboard-menu a:hover {
    background-color: #162636; /* Button background color on hover */
}

/* Registered Kids styles (No changes) */

/* User Card styles */
.registered-kids {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 250px;
}

.user-card img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.user-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.user-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.contact-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}
