* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color and text color */
body {
    font-family: Arial, sans-serif;
    background-color: var( --primary-color);
    color: var(--secondary-color);
}

/* Header styles */
header {
    background: var(--header-color);
    color: #2c2b2b;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#moon {

width: 30px;
cursor: pointer;
position: absolute;
top: 35px; 
left: 650px; 
}

:root {

    --primary-color:#f7f7f7; 
    --secondary-color: #333;
    --header-color: linear-gradient(90deg, #696a8a, #0d0f8e);
    --text-color:#333; 
    --text-color2: rgb(99, 31, 113);
    --text-color3:#333 ;
}
.dark-theme{
    --primary-color: #3b3c4a;
    --secondary-color:  #fff7f7;
    --header-color: linear-gradient(90deg, #292a3c, #26262f);
    --text-color:#fff7f7; 
    --text-color2: rgb(255, 255, 255);
    --text-color3:black ;

}




.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
  
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}
/* Footer styles */
footer {
    background: var(--header-color);
    color: #000000;
    text-align: center;
    padding: 5px;
}



/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style for the breadcrumbs */
.breadcrumbs {
    text-align: left; /* Align breadcrumbs to the left */
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 14px;
  }
  
  .breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumbs li {
    display: inline;
  }
  .breadcrumbs a {
    text-decoration: none;
    color:var(--text-color); 
  }
  /* Style for the breadcrumb separator */
  .breadcrumbs li::after {
    content: '>';
    margin: 0 5px; 
    color:var(--text-color);
  }
  
/**************************************************************************/
/*************************************************************************/
/* vision styling */

.vision hr, p {
	
font-size: 20px;
text-indent: 25px;
margin-top: 25px;
}

/* homepage courses styling */

h2{
	
margin-top: 20px;
font-size:30px;
text-align: center;	
	
}

h4{
	
font-size: 25px;	
	
}
.HPcourses, .reviews, .tutors {

 display: flex;
  flex-wrap: nowrap;
  margin: 25px;
  text-align: center;
  padding: 20px;
}



/*homepage reviews*/

.review { /* adjust review boxes placement */
	
	margin-left: 15px;
	
}

.reviews > div:hover, .HPcourses > div:hover {
  transform: translateY(-5px);
}

.parentName {
	text-align: center;
}

.fa {
	
  font-size: 25px;
}

.checked {
  color: yellow;
}



/*tutors*/

    .scroll-menu {
        
    margin: 10px, 10px;
padding: 4px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
	display: flex;
flex-wrap: nowrap;
text-align: center;
     
	}
	
	

.scroll-menu li { 
margin-left: 35px;
     width: 200px;
     display: inline-block;
     float: left ;
	 
     }

/* students */
.students, .courses, .ADcourses { /* adjust spacing */
	
	margin-top: 15px;
	margin-bottom: 15px;
}


 /* courses */ 
.seeMore {
	
	color: blue;
}


  

/* Dashboard Menu styles */
.dashboard-menu {
    background-color: var( --primary-color);
    float: right;
    width: 25%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-menu h2 {
    font-size: 20px;
    background-color: var( --primary-color);

}

.dashboard-menu ul {
    list-style: none;
    padding: 0;
    background-color: var( --primary-color);

}

.dashboard-menu li {
    margin-bottom: 10px;

}

.dashboard-menu a {
    display: block;
    padding: 10px;
    background-color: #172b5e;
    color:var( --primary-color);
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dashboard-menu a:hover {
    background-color: #2a3c53;
}


/* User Card styles */
.registered-kids {
    flex: 2;
    background-color:var( --primary-color);
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: var( --primary-color);

}

.user-card {
    background-color:var( --primary-color);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 250px;
}

.user-card img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
    background-color: var( --primary-color);

}

.user-card h3 {
    font-size: 20px;
    margin-top: 10px;
    color:vqr( --primary-color);
}

.user-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}
.user-card {
    border-bottom: 3px solid #5c3c80;
    padding-bottom: 10px;
    background-color: var( --primary-color);

}

.user-card img {
    max-width: 100%;
}

.user-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.user-card p {
    font-size: 16px;
    margin: 0;
}



.contact-link {
    color: #000000;
    text-decoration: none;
    margin-left: 10px;
}



/* Styles for Register New Child Page */
.register-new-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: var( --primary-color);

}

.upload-pic, .child-details {
    flex: 1;
    background-color: var( --primary-color);
    padding: 20px;
    border-radius: 5px;
}

.upload-pic h2, .child-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color:var(--text-color3);
}

#picUpload {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
     background-color: var( --primary-color);
}

form {
    display: flex;
    flex-wrap: wrap;
    color:var(--text-color3) ;
}

label, input, select {
    width: 100%;
    margin-bottom: 10px;
    
}

button {
    padding: 10px 20px;
    background-color: #09285e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancelButton {
    background-color: #ccc;
    margin-right: 10px;
}

#registerButton {
    background-color: #071563;
}






/*  Course Enrollment Page */

.course-enrollment {
    text-align: center;
    padding: 20px;
}

.course-enrollment h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.student-name, .filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.student-name label, .filter label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    flex-basis: calc(50% - 10px);
}

.courses{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.course, .review , .tutor, .student, .box { /* same styling goes for courses, reviews, tutors and students */
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;

}

/* Add colored bottom border to each box */

.style-1::after, .style-2::after, .style-3::after, .style-4::after, .style-5::after, .style-6::after {
	
	
    content: "";
   display: block;
   width: 100%;
   height: 3px; /* Adjust the line thickness */
    position: absolute;
   bottom: 0;
   left: 0;
   
   
}

.style-1::after {
   
   background-color: #471b50; /* Line color for style 1 */
  
} 

.style-2::after {

   background-color: #3398db; /* Line color for style 2 */
   
}

.style-3::after {
   
   background-color: #ae5dc5; /* Line color for style 3 */

}

.style-4::after  {

   background-color: #334eff; /* Line color for style 4 */
 
}

.style-5::after {
  
   background-color: #9e2189; /* Line color for style 5 */
  
}

.style-6::after {
 
   background-color: #a200ff; /* Line color for style 6 */

}
.course img {
    width: 100%;
    height: 150px; 
}

button {
    padding: 10px 20px;
    background-color: #440aa6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




/******************************/
/* Dashboard Menu styles */
.dashboard-menu {
    float: right;
    width: 25%;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard-menu h2 {
    font-size: 20px;
}

.dashboard-menu ul {
    list-style: none;
    padding: 0;
}

.dashboard-menu li {
    margin-bottom: 10px;
}

.dashboard-menu a {
    display: block;
    padding: 10px;
    background-color: #061b3a;
    color: #fff;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.dashboard-menu a:hover {
    background-color: #233e56;
}
/*********************************************/

/* User Card styles */
.registered-kids {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.user-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin: 10px;
    width: 250px;
}

.user-card img {
    max-width: 100px;
    height: auto;
    border-radius: 50%;
}

.user-card h3 {
    font-size: 20px;
    margin-top: 10px;
}

.user-card p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}
.user-card {
    border-bottom: 3px solid #5c3c80;
    padding-bottom: 10px;
}

.user-card img {
    max-width: 100%;
}

.user-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.user-card p {
    font-size: 16px;
    margin: 0;
}
.user-card img {
    max-width: 100px; /* Adjust the desired width */
    height: auto;
}
.user-card:hover {
    transform: translateY(-5px);
    transition: transform 0.3s;
  }
  



.contact-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}


/************************************************************************************ */



/************************************************************************************ */


/* Styles for Register New Child Page */
.register-new-child {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.upload-pic, .child-details {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
}

.upload-pic h2, .child-details h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#picUpload {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-wrap: wrap;
}

label, input, select {
    width: 100%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #440aa6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#cancelButton {
    background-color: #ccc;
    margin-right: 10px;
}

#registerButton {
    background-color: #440aa6;
}




/************************************************************************************ */



/************************************************************************************ */



/*  Course Enrollment Page */

.course-enrollment {
    text-align: center;
    padding: 20px;
}

.course-enrollment h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.student-name, .filters {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow */
}

.student-name label, .filter label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter {
    flex-basis: calc(50% - 10px);
}



.courses {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.course {
    flex-basis: calc(33.33% - 20px);
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    text-align: center; /* Center the content within each course */
}
.course img.course-image {
    max-width: 75px; /* Adjust the max-width for smaller images */
    height: auto;
}

.course h3 {
    font-size: 14px; /* Further reduce the font size for the course name */
    margin: 5px 0; /* Adjust the margin for a compact layout */
}






.course img {
    width: 100%; /* Ensure the width takes up the full container */
    height: 150px; /* Set a fixed height for all images */
}

button {
    padding: 10px 20px;
    background-color: #440aa6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

  .courses > div:hover {
    transform: translateY(-5px);
  }
  
/* courses page styling , Jory */

.top-courses-topics {
  text-align: center;
  padding: 20px;
  background-color: --primary-color;
  font-family:New Roman, serif; 
  color:var(--text-color);

  
}


.top-topic1, .top-topic2, .top-topic3, .top-topic4 {
  display: inline-block;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-bottom: 5px solid #9e2189;
  text-align: left;
  font-family: Times New Roman, serif; 
  color:var(--text-color);


}


.top-topic1 img, .top-topic2 img, .top-topic3 img, .top-topic4 img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: filter 0.3s; 
}


.top-topic1 h3, .top-topic2 h3, .top-topic3 h3, .top-topic4 h3 {
  font-size: 20px;
  color:var(--text-color);
  margin: 10px 0;
}


.top-topic1 p, .top-topic2 p, .top-topic3 p, .top-topic4 p , .course-info p, .course-info ul li, .course-info h6 ,.course-info hr{
  font-size: 14px;
  color: #666;
  display: none; 
}


.top-topic1 p:last-child, .top-topic2 p:last-child, .top-topic3 p:last-child, .top-topic4 p:last-child {
  font-weight: bold;
  color: #ff6600;
  margin-top: 10px;
}

.top-topic1:hover img, .top-topic2:hover img, .top-topic3:hover img, .top-topic4:hover img {
  filter: blur(3px); 
}

.top-topic1:hover p, .top-topic2:hover p, .top-topic3:hover p, .top-topic4:hover p, .course-info:hover p, .course-info:hover ul li , .course-info:hover h6 , .course-info:hover hr{
  display: block; 

}


.courses h2 ,h3 { 

text-align: center ;
font-family: Times New Roman, serif; 


}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}


.courses > div {
  width: 250px;
  background-color:--primary-color;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-family: Times New Roman, serif; 

}

.courses > div:hover {
  transform: translateY(-5px);
}


.course-border {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}


.courses img {
  max-width: 100%;
  height: auto;
  max-height: 150px; 
  width: auto;
  border-radius: 5px;
  margin: 10px 0;
}

.courses h3 {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  font-family: Times New Roman, serif; 
  color:var(--text-color);


}

.courses p {
  font-size: 14px;
  color: #666;
  font-family: Times New Roman, serif; 

}
.course-info ul {
  list-style: disc inside;
  margin: 10px 0;
  padding-left: 20px;
  font-family: Times New Roman, serif; 

}

.course-info ul li {
  font-size: 14px;
  color: #666;
  font-family: Times New Roman, serif; 

}

/* End courses page */
/************************************************************************************ */



/************************************************************************************ */


/* Evaluation page styling , Jory*/

.course-title {
  text-align: center;
  padding: 20px;
}

.rating input[type="radio"] {
  display: none;
}

.rating label {
  font-size: 25px;
  cursor: pointer;
}

.rating label:before {
  content: "\2605"; /* Unicode character for a star */
  margin: 5px;
}

.rating input[type="radio"]:checked ~ label:before {
  color: orange;
}

.review {
  clear: both;
  text-align: center;
  margin-top: 20px;
}

.review label {
  font-size: 16px;
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.review textarea {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.review button {
  padding: 10px 20px;
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.course-evaluation {
  clear: both;
  text-align: center;
  margin-top: 20px;
}

.course-title, .rating, .review {
  width: 100%;
  display: inline-block;
  text-align: center;
}
/* End evaluation page */


/******************************************************************/


/************************tutors page and schedule************************************/

#sort{

background-color:var(--primary-color);
color:var(--secondary-color);


}
.container h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var( --secondary-color);
    text-shadow: 0 5px 10px rgba(0,0,0,.2) ;
    font-size: 30px;
}

.container {
    padding: 15px 9%;
    padding-bottom: 100px;
}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .tutorsBox{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: var(--primary-color);
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .tutorsBox img{
    height: 80px;
}

.container .box-container .tutorsBox h3{
    color:var(--text-color2);
    font-size: 22px;
    padding: 10px 0;

}

.container .box-container .tutorsBox p{
    color: rgb(60, 37, 64);
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .tutorsBox .btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .tutorsBox .btn:hover {
    letter-spacing: 0.5px;
}

.container .box-container .tutorsBox:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}


.contact-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}


/*--------Schedule-------*/

table{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: .5px solid grey;
    border-radius: 5px;
    margin: 20px 25px auto;
    color:var( --text-color3);
}

#teacher{
    vertical-align: top;

}

caption{
    background-color: none;
    font-weight: bold;
    font-size: 30px;
    color:var(  --secondary-color);

}

td{
    font-size: 18px;
}

td, caption{
    padding: 25px;
    text-align: center;
}




thead th{
    border-bottom: 1px dashed grey;
    letter-spacing: 0.5px;
    padding: 20px;
    font-size: 20px;
    
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

tr span{
    font-size: 13px;
    color: grey;
}


tr:first-child th:nth-last-child(-n+2),
th{
    background-color: beige;
}

/*D.Hessah off*/

table.Hessah td[data-cell="Friday-class"],
table.Hessah td[data-cell="Saturday-class"] {
    background-color: grey;
}


/*D.Malak off*/

table.Malak td[data-cell="Sunday-class"] {
    background-color: grey;
}

/*D.Abeer off*/

table.Abeer td[data-cell="Tuesday-class"], 
table.Abeer td[data-cell="Wednesday-class"]{
    background-color: grey;
}

/*D.Alia off*/

table.Alia td[data-cell="Saturday-class"] {
    background-color: grey;
}

/*D.Luluah off*/

table.Luluah td[data-cell="Friday-class"],
table.Luluah td[data-cell="Saturday-class"] {
    background-color: grey;
}

/*D.Nawal off*/

table.Nawal td[data-cell="Thursday-class"],
table.Nawal td[data-cell="Friday-class"]{
    background-color: grey;
}

/*D.Sharefah off*/


table.Sharefah td[data-cell="Friday-class"],
table.Sharefah td[data-cell="Saturday-class"] {
    background-color: grey;
}

/****************end of tutor and schedule*************/