* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*  background color and text color */
body {
    font-family: 'Times New Roman', serif;
    background-color: #f7f7f7;
    color: #333;
}

/* Header styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 10px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

.breadcrumbs {
    text-align: left; /* Align breadcrumbs to the left */
    margin-top: 10px; /* Adjust the margin as needed */
    font-size: 14px;
  }
  
  .breadcrumbs ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .breadcrumbs li {
    display: inline;
  }
  .breadcrumbs a {
    text-decoration: none;
    color: #333; /* Adjust the color as needed */
  }
  
  /* Style for the breadcrumb separator */
  .breadcrumbs li::after {
    content: '>';
    margin: 0 5px; /* Adjust the margin as needed */
    color: #333; /* Adjust the color as needed */
  }

/*------------------------------------------------------------------------------*/

.container h1 {
    padding-top: 15px;
    padding-bottom: 15px;
    color: #333;
    text-shadow: 0 5px 10px rgba(0,0,0,.2) ;
    font-size: 30px;
}

.container {
    background-color: #f7f7f7;
    padding: 15px 9%;
    padding-bottom: 100px;

}

.container .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
}

.container .box-container .tutorsBox{
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.container .box-container .tutorsBox img{
    height: 80px;
}

.container .box-container .tutorsBox h3{
    color: rgb(99, 31, 113);
    font-size: 22px;
    padding: 10px 0;

}

.container .box-container .tutorsBox p{
    color: rgb(60, 37, 64);
    font-size: 15px;
    line-height: 1.8;
}

.container .box-container .tutorsBox .btn{
    margin-top: 10px;
    display: inline-block;
    background-color: #333;
    color: #fff;
    font-size: 17px;
    border-radius: 5px;
    padding: 8px 25px;
}

.container .box-container .tutorsBox .btn:hover {
    letter-spacing: 0.5px;
}

.container .box-container .tutorsBox:hover{
    box-shadow: 0 10px 15px rgba(0,0,0,.3);
    transform: scale(1.03);
}

/* Footer styles */

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.contact-link {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}


/*--------Schedule-------*/

table{
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    border: .5px solid grey;
    border-radius: 5px;
    margin: 20px 25px auto;
}

#teacher{
    vertical-align: top;
}

caption{
    background-color: none;
    font-weight: bold;
    font-size: 30px;
}

td{
    font-size: 18px;
}

td, caption{
    padding: 25px;
    text-align: center;
}




thead th{
    border-bottom: 1px dashed grey;
    letter-spacing: 0.5px;
    padding: 20px;
    font-size: 20px;
    
}

.table-container{
    max-width: 100%;
    overflow-x: auto;
}

tr span{
    font-size: 13px;
    color: grey;
}


tr:first-child th:nth-last-child(-n+2),
th{
    background-color: beige;
}

/*D.Hessah off*/

table.Hessah td[data-cell="Friday-class"],
table.Hessah td[data-cell="Saturday-class"] {
    background-color: grey;
}


/*D.Malak off*/

table.Malak td[data-cell="Sunday-class"] {
    background-color: grey;
}

/*D.Abeer off*/

table.Abeer td[data-cell="Tuesday-class"], 
table.Abeer td[data-cell="Wednesday-class"]{
    background-color: grey;
}

/*D.Alia off*/

table.Alia td[data-cell="Saturday-class"] {
    background-color: grey;
}

/*D.Luluah off*/

table.Luluah td[data-cell="Friday-class"],
table.Luluah td[data-cell="Saturday-class"] {
    background-color: grey;
}

/*D.Nawal off*/

table.Nawal td[data-cell="Thursday-class"],
table.Nawal td[data-cell="Friday-class"]{
    background-color: grey;
}

/*D.Sharefah off*/


table.Sharefah td[data-cell="Friday-class"],
table.Sharefah td[data-cell="Saturday-class"] {
    background-color: grey;
}
